<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/password_reset.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Password Reset</title>
  </head>
  <body>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
  <div class="container">
    <form action="/confirm_reset" method="post">
      <h1>Confirm Reset</h1>
      <p>Reset your Password</p>
      <hr>
      <div>
        <label for="">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="">New Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required />
      </div>
      <div>
        <label for="pin">Reconvery PIN</label>
        <input type="password" id="pin" name="pin" required />
      </div>
      <div>
        <button type="submit">Reset</button>
      </div>
    </form>
  </div>
  </body>
</html>
