<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/welcome.css') }}">
  <link rel="stylesheet" href="css/welcome.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
		<h1>
			Welcome
		</h1>
		<p>
      Hello {{ username }} you succesfuly logged in.
    </p>
	</div>
</body>
</html>